/* ----- ger tablet or small pc: 1024 - 1200 ----- */
@media only screen and (max-width: 1200px) {
    
    nav { padding: 0 2%; }
    
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }

}

/* ----- tablet to big tablet: 768 - 1023 ----- */
@media only screen and (max-width: 1023px) {
    
    body { font-size: 18px; }

    section { padding: 60px 0; }

    .main-nav li { margin-left: 20px; }
    
    .long-copy {
        width: 90%;
        margin-left: 5%;
    }

    .app-box:last-child {
        margin-top: 40px;
        padding-left: 5%;
    }

    .app-step {
        margin-bottom: 10px;
    }

    .app-img {
        width: 90%;
        margin-bottom: 25px
    }

    .icon-small {
        width: 15px;
        margin-right: 5px;
    }

    .plan-price { font-size: 200%; }

    /* .signup-box { width: 90%; } */

    .contact-form { width:80%; }
}

/* ----- phone to small tablet: 481 - 767 ----- */
@media only screen and (max-width: 767px) {

    h1 { font-size: 180%;}
    
    h2 { font-size: 150%;}

    body { font-size: 16px; }

    section { padding: 25px 0; }

    header,
    .row { padding: 0 2%; }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    nav { padding: 0; }

    .main-nav { display: none; }

    .long-copy {
        width: 100%;
        margin-left: 0;
    }

    .app-step h3{
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    .app-box:first-child {
        text-align: center;
        margin-top: 10px;
    }

    .app-img { width: 70%; }

    .app-logo { text-align: center; }

    .app-box:last-child {
        margin-top: 10px;
    }

}

/* ----- small phone: 0 - 480 ----- */
@media only screen and (max-width: 480px) {
    section { padding: 15px 0; }

    .header-text-box .btn:link,
    .header-text-box .btn:visited {
        margin-bottom: 15px;
    }

    .header-btn {
        text-align: center;
    }

    .contact-form { width: 100%; }

}